.artDiv{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 2px rgb(157, 157, 224) solid;
    /* background-color:rgb(157, 157, 224) ; */
}
.main div{
    /* border: 2px rgb(157, 157, 224) solid; */
    background-color: #dddee8;
    justify-content: center;
    gap: 10px;
}
.articalDev{
    border: 2px blueviolet solid;
    display: grid;
    /* grid-auto-flow: row; */
    grid-auto-columns: minmax(200px,auto);
}
.buttondash{
    border: none;
    width: 200px;
    color:  white;
    background-color: darkblue;
    margin: 10px;
}
.btnDelet{
    border: none;
    width: 200px;
    color:  white;
    background-color: red;
    margin: 10px;
}
h3{
    color: blueviolet;
}
p{
    color: darkblue;
}