.logDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 500px;
    align-self: center;
    justify-self: center;

}
.btnlogin {
    color: white;
    background: darkblue;
    border-color:  darkblue;
}
.msqlogon{

    color: white;
    background-color:rgb(121, 123, 157)
}
.msqfalse{
    color: white;
    background-color:red
}